<div class="table-with-passwords col-md-8">
      <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col">Name</th>
          <th scope="col">Year</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">#</th>
          <td>C</td>
          <td>17.5%</td>
          <td></td>
        </tr>
        <tr *ngFor="let passport of passports; let i = index">
          <th scope="row">{{i+1}}</th>
          <td><input type="text" class="form-control"
                     id="nameField"
                     name="nameField" [(ngModel)]="passports[i].name"
                     placeholder='{{passport.name}}' (change)="sendPassports()">
          </td>
          <td><input type="text" class="form-control"
                     id="yearField"
                     name="yearField" [(ngModel)]="passports[i].year"
                     placeholder='{{passport.year}}' (change)="sendPassports()"></td>
          <td><button type="button" class="btn btn-primary"
                      (click)="deleteRow(i)">Delete</button>
          </td>
        </tr>

        <!--<app-edit-table-table-row
          *ngFor="let passport of passports; let i = index"
          [passport]="passport"
          (delete)="onDeleteRow(i)">
        </app-edit-table-table-row>-->
        </tbody>
      </table>

</div>
