<div class="table-with-passwords col-sm-11 container">
      <table class="table table-striped" id="dataTable">
        <thead>
        <tr>
          <th scope="col">Col</th>
          <th scope="col" *ngFor="let col of tableHandlerService.getColumns(); let i = index">
            <input type="text" class="form-control"
                   name="nameFieldId{{i}}" [value]="col" id="nameFieldId{{i}}"
                   (change)="changeColumnName(i, $event)">
          </th>
          <th scope="col">
<!--            <button type="button" class="btn btn-primary"-->
<!--                    (click)="tableHandlerService.addColumn('')">+</button>-->
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of tableHandlerService.getRows(); let i = index">
          <th scope="row">{{i+1}}</th>
          <td *ngFor="let col of tableHandlerService.getColumns(); let j = index">
            <input type="text" class="form-control"
                     name="nameField{{j}}" [value]="row.get(col)"
                     (change)="updateInfo(i, col, $event)">
          </td>
          <td>
            <button type="button" class="btn btn-primary"
                      (click)="tableHandlerService.deleteRow(i)">Delete</button>
            <button type="button" class="btn btn-primary"
                    (click)="tableHandlerService.upRow(i)">/\</button>
            <button type="button" class="btn btn-primary"
                    (click)="tableHandlerService.downRow(i)">\/</button>
          </td>
        </tr>

        <tr>
          <td>
            <button type="button" class="btn btn-primary"
                    (click)="addRow()">+</button>
          </td>
          <td colspan="3"></td>
        </tr>
        </tbody>
      </table>

</div>
