<div class="table-with-passwords col-sm-11 container">
      <table class="table table-striped" id="dataTable">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let col of passportsHandlerService.getColumns()">{{col}}</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of passportsHandlerService.getPassports(); let i = index">
          <th scope="row">{{i+1}}</th>
          <td *ngFor="let col of passportsHandlerService.getColumns(); let j = index">
            <input type="text" class="form-control"
                     name="nameField{{j}}" [value]="row.get(col)"
                     (change)="updateInfo(i, col, $event)">
          </td>
          <td>
            <button type="button" class="btn btn-primary"
                      (click)="passportsHandlerService.deletePassport(i)">Delete</button>
            <button type="button" class="btn btn-primary"
                    (click)="passportsHandlerService.upRow(i)">/\</button>
            <button type="button" class="btn btn-primary"
                    (click)="passportsHandlerService.downRow(i)">\/</button>
          </td>
        </tr>

        <tr>
          <td>
            <button type="button" class="btn btn-primary"
                    (click)="addRow()">+</button>
          </td>
          <td colspan="3"></td>
        </tr>
        </tbody>
      </table>

</div>
