<div class="table-with-passwords col-sm-8 container">
      <table class="table table-striped" id="dataTable">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Year</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let passport of this.passportsWrap.getPassports(); let i = index">
          <th scope="row">{{i+1}}</th>
          <td><input type="text" class="form-control"
                     name="nameField{{i}}" [(ngModel)]="this.passportsWrap.getPassports()[i].name"
                     placeholder='{{passport.name}}' (change)="sendPassports()">
          </td>
          <td><input type="text" class="form-control"
                     id="yearField{{i}}"
                     name="yearField" [(ngModel)]="this.passportsWrap.getPassports()[i].year"
                     placeholder='{{passport.year}}' (change)="sendPassports()"></td>
          <td>
            <button type="button" class="btn btn-primary"
                      (click)="deleteRow(i)">Delete</button>
            <button type="button" class="btn btn-primary"
                    (click)="upRow(i)">/\</button>
            <button type="button" class="btn btn-primary"
                    (click)="downRow(i)">\/</button>
          </td>
        </tr>

        <tr>
          <td>
            <button type="button" class="btn btn-primary"
                    (click)="addRow()">+</button>
          </td>
          <td colspan="3"></td>
        </tr>

        </tbody>
      </table>

</div>
