
<div class="container col-lg-12" >
  <div class="form-input">
    <form>
      <div class="form-group">
        <label for="inputJSONData">Info in JSON</label>
        <textarea class="form-control" id="inputJSONData" aria-describedby="inputDataJSONHelp"
                  name="dataJSONInput" [(ngModel)]="inputJSONLine"
                  placeholder='Example:&#10;[{"name":"Alex","year":"2000"}]' >

        </textarea>

        <small id="inputDataJSONHelp" class="form-text text-muted">Enter JSON information here to be added to the table.</small><br>
        <button type="submit" class="btn btn-primary" (click)="addJSONInfo()">Add Info</button>

        <label for="file">Choose JSON File</label>
        <input type="file"
               id="file"
               (change)="inputJSONFile($event.target.files)">
      </div>

      <div class="form-group">
        <label for="inputCSVData">Info in CSV</label>
        <textarea class="form-control" id="inputCSVData" aria-describedby="inputDataCSVHelp"
                  name="dataCSVInput" [(ngModel)]="inputCSVLine"
                  placeholder='Example:&#10;Name,Year&#10;dan,2000' >

        </textarea>
        <small id="inputDataCSVHelp" class="form-text text-muted">Enter JSON information here to be added to the table.</small><br>

        <button type="submit" class="btn btn-primary" (click)="addCSVInfo(',')">Add Info</button>
      </div>

    </form>
  </div>
</div>

<div class="col-md-12">
  <table class="table" id="dataTable">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Year</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let passport of passportsWrap.getPassports(); let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{passport.name}}</td>
      <td>{{passport.year}}</td>
    </tr>
    </tbody>
  </table>
</div>
<br>
