
<div class="container col-lg-10" >
  <div class="form-input">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputJSONData">Info in JSON</label>
        <textarea class="form-control " id="inputJSONData" aria-describedby="inputDataJSONHelp"
                  name="dataJSONInput" [(ngModel)]="inputJSONLine"
                  placeholder='Example:&#10;[{"name":"Alex","year":"2000"}]' >

        </textarea>

        <small id="inputDataJSONHelp" class="form-text text-muted">Enter JSON information here to be added to the table.</small><br>

        <div class="row col-sm-11">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" (click)="addJSONInfo()">Add Info</button>
          </div>

          <div class="col-sm-4 row file-input">
            <div class="col-sm-auto">
              <label for="fileJSON">Choose JSON File</label>
            </div>
            <div class="col-sm-3">
              <input type="file"
                     id="fileJSON"
                     (change)="inputJSONFile($event.target.files)">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputCSVData">Info in CSV</label>
        <textarea class="form-control" id="inputCSVData" aria-describedby="inputDataCSVHelp"
                  name="dataCSVInput" [(ngModel)]="inputCSVLine"
                  placeholder="{{exampleOfCSV}}" >

        </textarea>
        <small id="inputDataCSVHelp" class="form-text text-muted">Enter CSV information here to be added to the table.</small><br>

        <div class="row col-sm-12 separatorInput">
          <div class="col-sm-2"><span>Choose separator:</span></div>
          <div class="col-sm-2">
            <label for="radio_," class="separator">,</label>
            <input type="radio" id="radio_," name="separator" (change)="setSeparator(',')" checked>
          </div>
          <div class="col-sm-2">
            <label for="radio_;" class="separator">;</label>
            <input type="radio" id="radio_;" name="separator" (change)="setSeparator(';')">
          </div>
          <div class="col-sm-3">
            <label for="radio_#" class="separator" >#</label>
            <input type="radio" id="radio_#" name="separator" (change)="setSeparator('#')">
          </div>
        </div>




        <div class="row col-sm-11">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" (click)="addCSVInfo()">Add Info</button>
          </div>

          <div class="col-sm-4 row file-input">
            <div class="col-sm-auto">
              <label for="fileCSV">Choose CSV File </label>
            </div>
            <div class="col-sm-3">
              <input type="file"
                     id="fileCSV"
                     (change)="inputCSVFile($event.target.files)">
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

  <table class="table" id="dataTable">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let col of passportsHandlerService.getColumns()">{{col}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of passportsHandlerService.getRows(); let i = index">
      <th scope="row">{{i+1}}</th>
      <td *ngFor="let col of passportsHandlerService.getColumns()">{{row.get(col)}}</td>
    </tr>
    </tbody>
  </table>

</div>



